html
  margin: 0
body
  margin: 0
  .big-wrapper
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-content: center
    .wrapper
      width: 50%
      display: flex
      flex-direction: column
      font-size: 24px
      .title
        width: 100%
        text-align: center
        font-size: 28px
        padding-top: 15px
        padding-bottom: 15px
        background: #aaaaaa
      .list
        width: 100%
        padding-top: 15px
        padding-bottom: 15px
        background: #cccccc
        display: flex
        flex-direction: column
        align-content: center
        .task
          padding-left: 30px
          padding-right: 30px
          margin-bottom: 15px
          width: auto
          border-bottom: 1px solid #444444
