{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ETERManager</title>
    <link rel="stylesheet" href="{% static 'etermanager/css/master.css' %}">
</head>
<body>
<div class="big-wrapper">
    <div class="wrapper">
        <div class="title">Your tasks:</div>
        <div class="list">
        {% for task in tasks %}
        <div class="task">
            <h3 class="name">{{ task.name }}</h3>
            <span class="description">{{ task.description }}</span>
            <h5 class="assignee">Assignee: {{ task.assignee }}</h5>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
</body>
</html>